.navbar {
    margin-top: 2%;
    padding: 1%;
}

.header>h2 {
    color: white;
    display: flex;
    text-align: left;
    margin-top: 0%;
    margin-left: 9%;
    font-size: 2rem;
}

ul>li {
    float: left;
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.menu-items {
    margin-top: -1.9rem;
    margin-left: 30rem;
    font-weight: 500;
    font-size: 1.2rem;
    transition: all 0.5s;
    z-index: 1000;
}

#isChecked {
    display: none;
}

.bar-toggle {
    font-size: 25px;
    color: white;
    display: none;
}

@media screen and (max-width:800px) {
    .menu-items {
        position: fixed;
        margin-top: 1rem;
        margin-top: 2%;
        right: -100%;
    }
    .menu-items>li {
        float: none;
        font-size: 1rem;
        font-weight: 400;
        padding: 5%;
        width: 100%;
        background-color: #2a3844d3;
    }
    .bar-toggle {
        display: block;
        float: right;
        margin-right: 2rem;
        margin-top: 0.5rem;
    }
    #isChecked:checked~.menu-items {
        right: 5%;
    }
}

@media screen and (max-width:1170px) {
    .menu-items>li {
        font-size: 1.2rem;
    }
    .menu-items {
        margin-left: 20rem;
    }
    .header>h2 {
        margin-left: 6%;
    }
}

@media screen and (max-width:950px) {
    .header>h2 {
        margin-left: 3%;
    }
    .menu-items>li {
        font-size: 1rem;
    }
    .menu-items {
        margin-left: 14.5rem;
    }
}

@media screen and (max-width:800px) {
    .menu-items {
        margin-left: 10rem;
        width: 50%;
    }
}

@media screen and (max-width:450px) {
    .menu-items {
        width: 80%;
        text-align: left;
    }
}