.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #212f3c;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .home-container {
    padding: 8% 0%;
  }
}
