.footer1 {
    width: 100%;
    background-color: #212f3c;
    padding: 2rem 0rem;
    border-top: 2px solid red;
}

.footer-child>h3 {
    color: orangered;
}

.footersUl {
    display: flex;
    list-style: none;
    background-color: #212f3c;
    gap: 5rem;
    justify-content: center;
    padding: 2rem 0rem;
    text-decoration: none;
}

.footersUl>a {
    text-decoration: none;
}

.footersUl>a>li {
    text-decoration: none;
    color: white;
}

.footersUl>a>li:hover {
    color: orange;
}

.emails,
.phonenumber,
.reserved {
    color: white;
    margin: 2rem 0;
}

@media screen and (max-width: 800px) {
    .footersUl {
        gap: 4rem;
    }
}

@media screen and (max-width: 700px) {
    .footersUl {
        gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .footersUl {
        gap: 2rem;
        flex-direction: column;
    }
}