* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: roboto;
}

.div-box {
    background-color: orange;
}

.resume-lists-container {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 80%;
    height: 50%;
}

.resume-details>h2 {
    margin-top: 3rem;
}

.container {
    display: flex;
    width: 40%;
    margin-top: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.562);
}

.resume-logo {
    background-color: #212f3c;
    color: white;
}

.list-resume {
    line-height: 3rem;
    padding: 2rem 0;
}

.list-resume,
.description {
    list-style: none;
}

.resume-logo {
    width: 10%;
    margin-bottom: 1rem;
    padding: 15% 0;
}

.resume-doc {
    width: 40%;
}

.resume-desc {
    padding-top: 27%;
}

.description {
    text-align: left;
    line-height: 3rem;
}

#logo-text {
    padding: 0 2rem;
}

#logo-text:hover {
    background-color: #212f3c;
    color: white;
    border-radius: 0px 50px 50px 0px;
}

.education {
    width: 90%;
    margin-left: 4rem;
}

.education-list {
    line-height: 2rem;
}

.edu-list1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.2rem 0;
}

.edu-list2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.education-list>li {
    color: orange;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

.edu-list3 {
    font-size: 1.2rem;
}

.edu-list4 {
    font-size: 0.9rem;
    color: black;
}

.edu-list4.desp {
    text-align: justify;
}

.edu-list5 {
    padding: 12px;
    color: white;
    width: 30%;
    border-radius: 50px;
    border-color: transparent;
    margin-left: 2rem;
    background-color: orange;
}

.pro {
    color: orange;
    list-style: none;
    font-weight: 700;
}

.blocks {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    margin: 2rem 0rem;
    height: 50vh;
    width: 100%;
}

.active {
    background-color: orange;
    color: white;
    border-radius: 0px 50px 50px 0px;
}


/* width */

::-webkit-scrollbar {
    width: 0px;
}

@media screen and (max-width: 1200px) {
    .resume-lists-container {
        width: 90%;
    }
    .edu-list3 {
        font-size: 1.1rem;
    }
    .resume-lists-container {
        margin-left: 5rem;
    }
    .education-list>li {
        font-size: 1.2rem;
    }
    .resume-logo {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 1000px) {
    .resume-lists-container {
        margin-left: 3rem;
    }
    .resume-logo {
        width: 15%;
    }
    .resume-doc {
        width: 80%;
    }
    #logo-text {
        font-size: 80%;
    }
}

@media screen and (max-width: 800px) {
    .resume-lists-container {
        flex-direction: column-reverse;
        overflow-x: hidden;
        margin-left: 2rem;
    }
    .resume-logo {
        margin-bottom: 0rem;
    }
    .active1 {
        color: orange;
    }
    .container {
        width: 100%;
        margin: 1% 14%;
        border-right: none;
    }
    #logo-font:hover {
        color: orange;
    }
    .resume-logo {
        width: 100%;
        color: black;
        padding: 0 5rem;
        font-size: 2rem;
        background-color: transparent;
    }
    .resume-desc {
        display: none;
    }
    .list-resume>li {
        float: left;
        padding-left: 3.5rem;
    }
    .edu-list3 {
        font-size: 1.2rem;
    }
    #logo-text {
        font-size: 1px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        margin: 0 6%;
    }
    .education {
        margin-left: 4rem;
    }
    .resume-logo {
        padding: 0 4rem;
    }
}

@media screen and (max-width: 540px) {
    .container {
        margin: 0 -2%;
        width: 100%;
    }
    .list-resume>li {
        padding-left: 3rem;
    }
    .resume-logo {
        padding: 0 4rem;
        margin-left: 2%;
    }
    .education {
        margin-left: 2rem;
    }
    .edu-list1 {
        flex-direction: column;
        margin-left: -10%;
    }
    .edu-list5 {
        width: 25%;
    }
}

@media screen and (max-width: 400px) {
    .list-resume>li {
        padding-left: 2rem;
    }
    .container {
        margin-left: 0;
    }
    .resume-logo {
        padding: 0 2rem;
        margin-left: 5%;
    }
    .education {
        margin-left: 5%;
    }
}